:root{
    --c:linear-gradient(90deg,#f1c40f,#f39c12);
    --s:0 .3rem .5rem rgba(0,0,0,.3);
}
*{
    margin: 0;padding: 0;box-sizing: border-box;text-decoration: none;
    list-style: none;border: none;outline: none;text-transform: capitalize;
    transition: all .2s linear;
}
*::selection{background: #f39c12;color: #fff;}

html{font-size: 62.5%;overflow-x: hidden;}
html::-webkit-scrollbar{width: 1.5rem;}
html::-webkit-scrollbar-track{background: black;}
html::-webkit-scrollbar-thumb{background: linear-gradient(#f1c40f,#f39c12);}
body{height: 200vh;}
section{min-height: 100vh;padding: 1rem 7%;padding-top: 6rem;}

.fa-times{transform: rotate(180deg);}

.heading{text-align: center;font-size: 4rem;padding: 1rem;color: #444;}
.btn{
    position: relative;overflow: hidden;z-index: 0;
    background: var(--c);border-radius: 5rem;padding: .7rem 3rem;font-size: 2rem;
    color: #fff;cursor: pointer;margin-top: 1rem;box-shadow: var(--s);
}
.btn::before{
    content: '';position: absolute;top: -1rem;left: -100%;height: 150%;width: 20%;background: #fff; transform: rotate(25deg);}
.btn:hover::before{left: 120%;z-index: -1;transition: .3s linear;}

.login-form{
    position: fixed;width: 100%;height: 100%;top: 0;left: 0;
    display: flex;align-items: center;justify-content:center;
    background: rgba(0,0,0,.5);opacity: 0;z-index: -1;
}
.login-form.active{opacity: 1;z-index: 0;}
.login-form form{
    position: relative;width: 35rem;background: #fff;margin: 0 2rem;
    padding: 1rem 3rem;border-radius: .5rem;box-shadow: var(--s);
}
.login-form form h3{font-size: 3rem;color: orange;padding: 1rem 0;}
.login-form form .box{
    width: 100%;padding: 1rem 0;margin: 1rem 0;border-bottom: .2rem solid #666;
    font-size: 1.6rem;color: #333;text-transform: none;
}
.login-form form .box::placeholder{text-transform: capitalize;}
.login-form form .box:focus{border-color: orange;}
.login-form form .box:nth-child(3){margin-bottom: 5rem;}
.login-form form p{font-size: 1.4rem;color: #666;padding: .5rem 0;}
.login-form form a{color: orange;}
.login-form form .btn{width: 100%;margin: 2rem 0;}
.login-form form .btn:hover{background: #333;}
.login-form form i{
    position: absolute;top: 1rem;right: 1rem;width: 3rem;height: 3rem;
    background: orange;line-height: 3rem;text-align: center;
    border-radius: 50%;font-size: 2rem;color: #fff;}
.login-form form i:hover{background: #333}

header{
    position: fixed;top: 0;left: 0;width: 100%;z-index: 1000;
    display: flex;align-items: center;justify-content: space-between;
    padding: 1.5rem 7%;background: var(--c);box-shadow:var(--s);
}

header .menu{display: none;font-size: 3rem;color: #fff;}
header .logo{color: #fff;font-size: 3rem;}
header .navbar ul{display: flex;}
header .navbar ul li{margin: 0 1rem;}
header .navbar ul li a{font-size: 2rem;color: #fff;}
header .navbar ul li a.active, header .navbar ul li a:hover{color: #333;}
header .login{font-size: 3rem;color: #fff;}
header .login:hover{color: #333;}

.home{
    position: relative;
    display: flex;align-items: center;justify-content: center;flex-flow: column;
    background: url(../img/home-bg.jpg) no-repeat;background-size: cover;
    background-position: center;background-attachment: fixed;
    text-align: center;
}

.home h1{font-size: 6rem;color: #666;}
.home p{font-size: 2rem;color: #999;padding: 1rem 0;width: 70rem;}
.home .shape{
    position: absolute;bottom: -.2rem;left: 0;height: 15rem;width: 100%;
    background: url(../img/shape.png);
    filter: drop-shadow(0 -.1rem .1rem rgba(0,0,0,.2));
    animation: animate 10s linear infinite;
}

.about .container{display: flex;align-items: center;justify-content: center;flex-wrap: wrap;}
.about .container .image{flex: 1 1 40rem}
.about .container .image img{height: 65vh;width: 100%;}
.about .container .content{flex: 1 1 40rem;}
.about .container .content h3{font-size: 3.5rem;color: #666;}
.about .container .content p{font-size: 1.5rem;color: #666;}
@keyframes animate{
    0%{background-position: 0}
    100%{background-position: 100%}
}


.course .container{display: flex;align-items: center;justify-content: center;flex-wrap: wrap;}

.course .container .box{
    position: relative;width: 45rem;border: .1rem solid rgba(0,0,0,.3);margin: 1.5rem;
    box-shadow: var(--s);
}
.course .container .box img{
    height: 20rem;width: 100%;object-fit: cover;
}

.course .container .box .content{padding: 1rem;}
.course .container .box .content .stars i{color: gold;font-size: 1.7rem;padding: 1rem .1rem;}
.course .container .box .content .title{color: #444;font-size: 2.1em;}
.course .container .box .content .title:hover{text-decoration: underline;}
.course .container .box .content p{padding: 1rem 0;color: #666;font-size: 1.5rem;}
.course .container .box .content .info{
    display: flex;align-items: center;justify-content:space-between;border-top: .1rem solid rgba(0,0,0,.3);padding-top: .5rem;
}
.course .container .box .content .info h3{font-size: 1.5rem;padding: 1rem;color: #666;}
.course .container .box .content .info h3 i{color: orange}
.course .container .box .price{
    position: absolute;top: 16rem;right: 1rem;height: 8rem;width: 8rem;
    line-height: 8rem;text-align: center;border-radius: 50%;
    background: var(--c);color: #fff;font-size: 3rem;
}

.teacher{
    text-align: center;background: url(../img/teachers.jfif) no-repeat;
    background-size: cover;background-position: center;
}

.teacher p{font-size: 1.8rem;color: #666;width: 65rem;margin: 1px auto;}

.contact{background: #111;}
.contact .heading{color: #fff;}
.contact .container{
    display: flex;align-items: flex-start;justify-content: center;flex-wrap: wrap;
}

.contact .container form{
    display: flex;align-items: flex-start; justify-content: space-between;
    flex-wrap: wrap;flex: 1 1 50rem;background: #222;padding: 2rem;margin-top: 3rem;
}

.contact .container form .box{
    height: 5rem;width: 49%;border: .1rem solid #eee;padding: 0 1rem;
    margin: 1rem 0;font-size: 1.7rem;color: #fff;background: none;
    text-transform: none;
}
.contact .container form .box:focus{border-color: orange;}
.contact .container form .box::placeholder{text-transform: capitalize;}

.contact .container form .address{
    width: 100%; height: 15rem;padding: 1rem;resize: none;background: none;
    border: .1rem solid #eee;
}
.contact .container form .address:focus{border-color: orange;}
.contact .container form .btn:hover{background: #fff;color: #333;}
.contact .container .image img{height: 80vh;margin-top: 2rem;}


.footer{background: #333;}
.footer .container{display: flex;justify-content: center;flex-wrap: wrap;}

.footer .container .box{margin: 1.5rem;text-align: center;flex: 1 1 25rem}
.footer .container .box h3{font-size: 2.5rem;color: #fff;padding: 1rem 0;}
.footer .container .box p{font-size: 1.5rem;color: #eee;padding: .7rem 0;}
.footer .container .box p i{padding-right: .5rem;color: orange}
.footer .container .box a{font-size: 1.8rem;display: block;padding: .5rem 0;color: #eee;}
.footer .container .box a:hover{text-decoration: underline;}

.footer .credit{padding: 2rem 1rem;font-size: 2rem;color: #fff;text-align: center;font-weight: normal;}
.footer .credit a{color: orange}



/*media query*/
@media (max-width:768px) {
    html{font-size: 50%;}
    header .menu{display: block;}
    header .navbar{
        position: fixed;top: -120%;left: 0;width: 100%;background: #333;
    }
    header .navbar ul{flex-flow: column; padding: 2rem 0;}
    header .navbar ul li{width: 100%;padding: 1rem 0;}
    header .navbar ul li a{display: block;text-align: center;}
    header .navbar ul li a.active, header .navbar ul li a:hover{color: gold;}
    
    header .navbar.active{top: 6.4rem;}
    .home h1{font-size: 4rem;}
    .home p{width: auto;}
    .teacher .p{width: auto;}
    .contact .container .image{display: none;}
}

@media (max-width:500px){
    html{font-size: 50%;}
    .contact .container form .box{width: 100%;}
}